@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   /* @apply border border-slate-900; */
   /* outline: 1px solid;
   margin-top: 1px;
   margin-left: 1px; */
}

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

li {
   @apply flex gap-2 p-2 my-2 border-r-0 hover:border-r-2 border-apple-400;
}

   